*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-inline: 1.5rem;
}
